<h2>Sign Up</h2>
<form>
    {{!-- add form labels --}}
    <input type="email" name=''>
    <input type="username" name=''>
    <input type="password" name=''>
    <button type="submit"></button>
</form>